env*
bacpipe/model_checkpoints/*
bacpipe/test*
*__pycache__*
.vscode
config.yaml

bacpipe/evaluation/datasets/*
bacpipe/evaluation/embeddings/*
bacpipe/evaluation/dim_reduced_embeddings/*
bacpipe/evaluation/task_results/*