# don't track environment files, model checkpoints, test files, and vscode settings
env*
bacpipe/model_checkpoints/*
bacpipe/tests/.pytest*
*__pycache__*
.vscode
config.yaml

# ignore datasets, embeddings, and task results
results/embeddings/*
results/dim_reduced_embeddings/*
results/task_results/metrics/*
results/task_results/plots/*
results/by_dataset/*

# ignore test result files
bacpipe/tests/results_files/*

# track all Readme files, including the ones in subdirectories
!**/README.md


exploration/*
!exploration/explore_embeds.py
!exploration/explore_dashboard.py